# Max versions can be changed/removed, they are only there to prevent problems when automatically installing
biopython>=1.79,
numpy>=1.19.5
pandas>=1.1.5
# requests>=2.26.0
tqdm>=4.62.3
# ipython>=7.27.0
